@font-face {
  font-family: IranSans;
  src: url("../assets/IRANSansWeb.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: IranSansBold;
  src: url("../assets/IRANSansWeb_Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/materialsymbol.woff2") format("woff2");
}

.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

.fs7 {
  font-size: 13px;
}

.material-symbols-rounded {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

body {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  user-select: none;
  font-family: IranSans;
}

input::selection {
  background: #3d5f90;
  color: #ffffff;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  background-image: none !important;
  padding-right: 0.75em;
}

.bold {
  font-family: IranSansBold;
}

.main-menu-img {
  height: 150px;
  overflow: hidden;
}

.main-menu-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.main-menu-img:hover img {
  transform: scale(1.2);
}

.imagecontainer {
  height: 200px;
  overflow: hidden;
}

.imagecontainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.imagecontainer:hover img {
  transform: scale(1.2);
}

.darken img {
  opacity: 0.4;
}

.carousel-item {
  height: 200px;
}

.text-justify {
  text-align: justify;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  background-image: none !important;
  padding-right: 0.75em;
}

.required:after {
  content: " *";
  color: red;
}

jdp-container,
jdp-container .jdp-year select,
jdp-container .jdp-month select {
  background: rgba(52, 58, 64, 1);
}

jdp-container .jdp-months,
jdp-container .jdp-years {
  color: rgb(222, 226, 230);
  fill: rgb(222, 226, 230);
}
jdp-container .jdp-day-name {
  background-color: #212529;
}
jdp-container .jdp-day,
jdp-container .jdp-day-name {
  color: rgb(222, 226, 230);
}
jdp-container .jdp-day:empty {
  border-color: rgba(52, 58, 64, 1);
}
jdp-container .jdp-btn-empty,
jdp-container .jdp-btn-today,
jdp-container .jdp-days .jdp-day.selected {
  background: #1d497e !important;
}

.pointer {
  cursor: pointer;
}

.nounder {
  text-decoration: none;
}

.gallerycontainer {
  height: 250px;
  overflow: hidden;
}

.gallerycontainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
